@import "../../main/colors";

:root {
  --site-width: clamp(280px, 90%, 1420px);
}

.main-content {
  display: flex;
  justify-content: center;

  &-container {
    width: 100%;
    min-height: 100vh;
    background: $bg-grey160;
    overflow: hidden;

    @media(min-width: 680px) {
      grid-gap: 25px;
      border-radius: 10px;
    }
  }
}

.md-head-info {
  display: flex;
  align-items: center;
  background: $bg-content;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  padding: 20px;
}

.file-content {
  padding: 25px;
  overflow: hidden;
}


@media (min-width: 680px) {
  .main-content-container {
    width: var(--site-width);
  }
}
