/* COLORS */

/* Background colors */
$shared-grey170: #23384c;

$bg-grey160: #273b53;
$bg-main: #29333d;
$bg-content: #30455e;

$code-bg: #34506c;

/* Foreground colors */
$text-400: whitesmoke;
$text-selected: #1e96ff;
