/* COLORS */

/* Background colors */
$shared-blue1: #004f90;
$shared-grey170: #292827;

$bg-700: #1c2f32;
$bg-600: #264955;
$bg-500: #304a56;
$bg-400: #3b5969;

/* Foreground colors */
$text-400: whitesmoke;
