/* COLORS */

/* Background colors */
$shared-grey170: #292827;

$bg-grey160: #252423;
$bg-main: #201f1e;
$bg-content: #31302e;

$code-bg: #3b3a39;

/* Foreground colors */
$text-400: whitesmoke;
$text-selected: #106EBE;
