@import '_colors.scss';
@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@0ac23ca/css/all.css');

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background: $bg-700;
  }

  &-thumb {
    background: $bg-400;
  }
}

::selection {
  background: $bg-600;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  box-sizing: border-box;
  font-size: clamp(12px, 3vw, 16px);
  color: $text-400;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Fira Sans", sans-serif;
  background: $bg-main;

  @media(min-width: 680px) {
    grid-gap: 25px;
  }
}

h1 {
  letter-spacing: 2px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: 0;
  }

  &:not(.sonikalize-proj-btn) {
    text-decoration: underline dotted;

    &:hover {
      text-decoration: underline;
      transition: underline 0.3s ease-in-out;
    }

    &:focus {
      padding: 2px;
      margin: 2px 0;
      border-radius: 4px;
      box-shadow: 0 0 0 4px $bg-700;
    }
  }
}
