@import '_colors.scss';

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background: $bg-main;
  }

  &-thumb {
    background: $bg-content;
    border-radius: 10px;
  }
}

::selection {
  background: $text-selected;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  box-sizing: border-box;
  font-size: clamp(12px, 3vw, 16px);
  color: $text-400;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Fira Sans", sans-serif;
  background: $bg-main;

  @media(min-width: 680px) {
    grid-gap: 25px;
  }
}

h1 {
  letter-spacing: 2px;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 900;
}

a {
  color: inherit;
  transition: color, .2s ease-in-out;
  text-decoration: underline dotted;
  
  &:hover {
    text-decoration: underline;
    color: $text-selected;
  }
}
