@import 'src/ui/main/colors';

.sonikalize-proj-btn {
  white-space: nowrap;
  user-select: none;
  padding: 10px 20px;
  background: $bg-500;
  border-radius: 5px;
  cursor: pointer;
  transition: background .2s ease-in-out;

  &:hover {
    background: $bg-700;
  }

  &:focus {
    box-shadow: 0 0 0 4px $bg-700;
  }
}